// font

:root {
  --tw-color-primary : #940d0dc3;
  --tw-color-hover-btn : #fe6f7beb;
  --tw-color-icon : #c0bcbc;
  --tw-color-text-footer : #777777;
  --tw-color-bg-black : #131313fa;
  --tw-color-btn-movie : #e1e1e18f;
}