// font

:root {
  --tw-color-primary : #d34b56d8;
  --tw-color-hover-btn : #7c2a3296;
  --tw-color-icon : #c0bcbc;
  --tw-color-text-footer : #777777;
  --tw-color-bg-black : #131313fa;
  --tw-color-btn-movie : #e1e1e18f;
}