:root {
  --tw-color-primary: #940d0dc3;
  --tw-color-hover-btn: #fe6f7beb;
  --tw-color-icon: #c0bcbc;
  --tw-color-text-footer: #777777;
  --tw-color-bg-black: #131313fa;
  --tw-color-btn-movie: #e1e1e18f;
  --color-text-gray: rgba(163, 154, 154, 0.882) ;
  --color-btn-booking: rgba(128, 225, 99, 0.793);
  --color-orange-black: rgba(208, 136, 3, 0.793);
}

.btn-primary {
  @apply py-2 px-4 bg-[--tw-color-primary] text-white rounded-lg shadow-md hover:bg-[--tw-color-hover-btn];
}

.btn-movie {
  @apply py-2 px-4 bg-[--tw-color-btn-movie] text-[--tw-color-primary] rounded-lg shadow-md hover:bg-[--tw-color-hover-btn] hover:text-white border;
}

.btn-schedule {
  @apply font-medium text-xl border border-slate-100 px-2 py-1 rounded-md bg-slate-50 shadow-sm cursor-pointer hover:bg-[--tw-color-primary] hover:text-gray-100;
}

.btn-booking {
  @apply bg-[--color-btn-booking] py-2 px-4 text-white font-semibold rounded-lg shadow-md hover:bg-[--tw-color-hover-btn];
}

header {
  @apply flex flex-row p-3 justify-between align-middle bg-[--tw-color-bg-black] fixed w-[100%] font-nunito z-[100];
}
header .logo {
  @apply max-w-[100px];
}
header .navbar, header .group-btn {
  @apply flex flex-row gap-4 text-center justify-between align-middle items-center;
}
header .navbar .navlink-primary, header .group-btn .navlink-primary {
  @apply py-2 px-4 text-white text-center align-baseline hover:text-[--tw-color-primary];
}

footer {
  @apply bg-black p-5 font-nunito bg-[--tw-color-bg-black] gap-3;
}
footer .container-footer {
  @apply max-w-[60%] m-auto text-white;
}
footer .footer-content {
  @apply grid grid-cols-5;
}
footer .footer-content ul {
  @apply flex flex-col justify-center;
}
footer .footer-content ul li {
  @apply text-[13px] text-[--tw-color-text-footer] hover:cursor-pointer hover:underline underline-offset-0;
}
footer .footer-content .mobile-app, footer .footer-content .social {
  @apply flex flex-col items-center gap-3;
}
footer .footer-content .icon {
  @apply flex gap-5 items-center;
}
footer .footer-content .icon i {
  @apply text-[--tw-color-icon] text-[20px];
}
footer .footer-content .text-footer {
  @apply text-[13px] text-slate-50;
}

.theater {
  @apply w-[80%] m-auto py-12 bg-white rounded-lg;
}
.theater .theater-content {
  @apply grid grid-cols-9 border-solid border-[1px] border-neutral-300 py-10 w-[90%] m-auto;
}
.theater .theater-content .theater-logo {
  @apply col-span-1 text-center p-5;
}
.theater .theater-content .theater-group {
  @apply col-span-3 p-5;
}
.theater .theater-content .movie-schedule-theater {
  @apply col-span-5 text-center p-5;
}

.seat {
  width: 35px;
  height: 25px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  border: 2px solid rgba(208, 136, 3, 0.793);
  text-align: center;
  align-self: center;
  color: var(--color-text-gray);
  background-color: white;
  cursor: pointer;
}
.seat:focus {
  background-color: white;
}
.seat.checked {
  background-color: green;
}
.seat.reserved {
  background-color: red;
}
.seat.reserved:hover {
  background-color: red;
}
.seat.vip {
  background-color: rgba(208, 136, 3, 0.793);
}
.seat.vip.checked {
  background-color: green;
}
.seat.vip.reserved {
  background-color: red;
}
.seat.vip.reserved:hover {
  background-color: red;
}
.seat:hover {
  background-color: green;
}

.list-seat {
  margin-top: 1rem;
}
.list-seat .intro {
  list-style: none;
  display: flex;
}
.list-seat .intro li {
  margin-right: 2rem;
  color: var(--color-text-gray);
  padding: 0 1rem;
}
.list-seat .intro li.smallBox::before {
  content: "";
  width: 15px;
  height: 15px;
  display: block;
}
.list-seat .intro li.greenBox::before {
  background-color: green;
}
.list-seat .intro li.redBox::before {
  background-color: red;
}
.list-seat .intro li.whiteBox::before {
  background-color: white;
  border: 1.5px solid rgba(208, 136, 3, 0.793);
}
.list-seat .intro li.vipBox::before {
  background-color: rgba(208, 136, 3, 0.793);
  border: 1.5px solid rgba(208, 136, 3, 0.793);
}
.list-seat .choose-seat {
  color: white;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
}
.list-seat .choose-seat .renderListSeat {
  display: grid;
  grid-template-columns: repeat(16, minmax(0, 1fr));
}
.list-seat .btn-confirm {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.list-seat .btn-confirm .btn-main {
  border: none;
  border-radius: 10px;
  padding: 5px 1rem;
  font-weight: 500;
  color: white;
  background-color: var(--tw-color-primary);
}
.list-seat .btn-confirm .btn-main:hover {
  background-color: var(--tw-color-hover-btn);
}
.list-seat .screen {
  background-color: rgba(148, 13, 13, 0.7647058824);
  padding: 1rem 2.5rem;
  text-align: center;
  font-weight: bold;
  margin-top: 1rem;
}
.list-seat .screen p {
  letter-spacing: 3px;
  font-size: 20px;
  margin: 0;
}

.main {
  font-family: "Source Sans Pro", sans-serif;
  background-image: url("../assets/images/bg-movie.jpeg");
  width: 90%;
  background-position: bottom center;
  margin: 150px auto;
}
.main .seat-main, .main .order {
  background: rgba(128, 128, 128, 0.34);
  filter: blur(5%);
  width: 65%;
  padding: 3.125rem 2.5rem;
}
.main .order {
  width: 35%;
}

.form-order {
  @apply relative overflow-x-auto shadow-2xl sm:rounded-lg shadow-zinc-950;
}
.form-order table {
  @apply w-full text-sm text-left text-gray-500 dark:text-gray-400;
}
.form-order table thead {
  @apply text-base text-gray-700 uppercase dark:text-gray-400 text-center;
}
.form-order table thead .header-table {
  @apply px-6 py-3 bg-gray-50 dark:bg-transparent;
}
.form-order table tbody .row-table {
  @apply border-b border-gray-200 dark:border-gray-700 border-dotted;
}
.form-order table tbody .row-table th, .form-order table tbody .row-table td {
  @apply px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-transparent;
}

.lable-style {
  @apply block mb-2 text-sm font-bold text-gray-700;
}

input.disabled {
  @apply text-slate-200;
}/*# sourceMappingURL=index.css.map */